@import "reset";
@import "bourbon";

//
// Mixins.
//
@mixin userselect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -khtml-user-select: $value;
  -ms-user-select: $value;
}

//
// OOCSS.
//
.clearfix {
  @include clearfix();
}

//
// Variables.
//
$transitiontime: .3s;

//
// Styling.
//
#text {
  font-size: 1em !important;
  font-family: georgia, serif !important;
  color: rgba(0,0,0,0.6) !important;
  width: 50% !important;
  padding: 70px 25% 0;
  height: 100% !important;
  position: fixed !important;
  border: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  focus-outline: none !important;
  focus-box-shadow: none !important;
  outline: none !important;
}

#navigation {
  @include clearfix;
  width: 50% !important;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255,255,255,.80);
  z-index: 2;
}

.icon {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  float: left;
  padding-top: 10px;
}

#tabs {
  display: inline-block;
  padding-left:30px;
  padding-top: 2px;
  @include userselect(none);
  @include clearfix();
}

.tab {
  position: relative;
  float: left;
  display: block;
  margin: 10px 0;
  padding: 0 30px;
  &:first-child {
    padding-left: 40px;
  }
  color: rgba(0,0,0,.35);
  &:after {
    content: '';
    border-right: 1px solid rgba(0,0,0,.2);
    padding-left: 20px;
    @include transition(all $transitiontime);
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
  }
  @include transition(all $transitiontime);
  &:hover {
    color: rgba(0,0,0,.7);
    @include transition(all $transitiontime);
    &:after {
      border-color: rgba(0,0,0,.7);
    }
  }
}

.tab.active {
  color: rgba(0,0,0,.65);
  &:after {
    border-color: rgba(0,0,0,.65);
  }
}

#add {
  display: inline-block;
  float: left;
  fill: rgba(0,0,0,.35);
  @include userselect(none);
  @include transition(fill $transitiontime);
  &:hover {
    fill: rgba(0,0,0,.65);
    @include transition(fill $transitiontime);
  }
}

#remove {
  display: inline-block;
  float: right;
  fill: rgba(0,0,0,.35);
  @include userselect(none);
  @include transition(fill $transitiontime);
  &:hover {
    fill: rgba(0,0,0,.65);
    @include transition(fill $transitiontime);
  }
}
