/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#content {
  font-size: 1em !important;
  font-family: georgia, serif !important;
  color: rgba(0, 0, 0, 0.6) !important;
  width: 50% !important;
  padding: 70px 25% 0;
  height: 100% !important;
  position: fixed !important;
  border: none !important;
  margin: 0 !important;
  box-shadow: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  focus-outline: none !important;
  focus-box-shadow: none !important;
  outline: none !important; }

#navigation {
  width: 50% !important;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  z-index: 2; }
  #navigation:after {
    content: "";
    display: table;
    clear: both; }

.icon {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  float: left;
  padding-top: 10px; }

#tabs {
  display: inline-block;
  padding-left: 30px;
  padding-top: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }
  #tabs:after {
    content: "";
    display: table;
    clear: both; }

.tab {
  float: left;
  display: block;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.35);
  transition: all 0.3s; }
  .tab:after {
    content: '';
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    transition: all 0.3s; }
  .tab:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s; }
    .tab:hover:after {
      border-color: rgba(0, 0, 0, 0.7); }

.tab.active {
  color: rgba(0, 0, 0, 0.65); }
  .tab.active:after {
    border-color: rgba(0, 0, 0, 0.65); }

#add {
  display: inline-block;
  float: left;
  fill: rgba(0, 0, 0, 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  transition: fill 0.3s; }
  #add:hover {
    fill: rgba(0, 0, 0, 0.65);
    transition: fill 0.3s; }

#remove {
  display: inline-block;
  float: right;
  fill: rgba(0, 0, 0, 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  transition: fill 0.3s; }
  #remove:hover {
    fill: rgba(0, 0, 0, 0.65);
    transition: fill 0.3s; }
